.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Your code here */
*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style-type: none;
}

ul{
  padding-left: 0;
}

.area{
  display: flex;
  justify-content: center;
}
#leftbar{
  padding-left: 20px;
  padding-right: 20px;
}
#center{
  display: flex;
  border: 3px solid black;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#rightbar{
  padding-left: 20px;
  padding-right: 20px;
}
.page-container{
  justify-content: center;
  display: flex;
}

.community,.housing,.jobs{
  padding-left: 20px;
  padding-right: 20px;
}

#logoAnchor,.postlksList{
  color: purple;
}

h4.ban::before{
  content: '☮️';
}
.clfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
